/node_modules
/.vscode
/commands/fun/ship.js
slash.js
/package-dev.json
/secret.env
/commands/ftelling/lichvannien.js
/commands/ftelling/xemngay.js
progress.txt
.eslintrc.json
test.js
announcement.json
wheat.db