# Dev
/node_modules
/.vscode
/package-dev.json
progress.txt
.eslintrc.json
test.js

# Env
/secret.env

# New feature HINT
/commands/ftelling/lichvannien.js
/commands/ftelling/bandosao.js
/commands/ftelling/tuvi.js

slash.js

# Data
wheat.db
announcement.json