html {
  background-color: #2c2e341a;
  color: #2c2e34;
}
body {
  font-family: Helvetica, sans-serif;
  margin-left: 300px;
  margin-right: 300px;
}

.language {
  text-align: center;
  border: #e4b005 solid 3px;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
}

.vie {
  display: block;
}

.eng {
  display: none;
}
